{% extends 'header_footer.html' %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card bg-dark text-white">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Hi, I am good. This is a description for the first card. This description can be a brief overview of what the card is about.</p>
                    <p class="card-text"><strong>Count of Descriptions:</strong> 32</p>
                    <a href="#" class="btn btn-light">View More</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card bg-dark text-white">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Hi, I am good. This is a description for the second card. Another short text that explains the contents of this card.</p>
                    <p class="card-text"><strong>Count of Descriptions:</strong> 32</p>
                    <a href="#" class="btn btn-light">View More</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card bg-dark text-white">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Hi, I am good. Here is a description for the third card. This card might have different content but follows the same design.</p>
                    <p class="card-text"><strong>Count of Descriptions:</strong> 32</p>
                    <a href="#" class="btn btn-light">View More</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card bg-dark text-white">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title">Card Title 4</h5>
                    <p class="card-text">Hi, I am good. This is the fourth card with a description. It will look similar to the other cards in layout but with a unique description.</p>
                    <p class="card-text"><strong>Count of Descriptions:</strong> 32</p>
                    <a href="#" class="btn btn-light">View More</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card bg-dark text-white">
                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title">Card Title 5</h5>
                    <p class="card-text">Hi, I am good. This is the fifth card description. It is another unique card with text and a button.</p>
                    <p class="card-text"><strong>Count of Descriptions:</strong> 32</p>
                    <a href="#" class="btn btn-light">View More</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
